credentials.json
token.json
token.pickle
2026-04-07_095538_PL/session_log.txt
2026-04-07_095702_PL/session_log.txt
__pycache__/Calibration.cpython-312.pyc
__pycache__/DataProcessing.cpython-312.pyc
__pycache__/DriveUploader.cpython-312.pyc
__pycache__/HelperClasses.cpython-312.pyc
__pycache__/KeyboardApp.cpython-312.pyc
__pycache__/SettingsDialog.cpython-312.pyc
__pycache__/ShuttleGame.cpython-312.pyc
__pycache__/StartupScreen.cpython-312.pyc
__pycache__/Testing.cpython-312.pyc
__pycache__/YNWidget.cpython-312.pyc
prova_01_PL/Master_MainMenu_Log.csv
prova_01_PL/session_log.txt
prova_01_PL/Testing_141436.558.pngdevelo
prova_01_PL/Testing_142105.522.png
prova_01_PL/Testing_142958.617.png
prova_01_PL/Testing_143105.654.png
prova_01_PL/Testing_Data_141436.csv
prova_01_PL/Testing_Data_142105.csv
prova_01_PL/Testing_Data_142958.csv
prova_01_PL/Testing_Data_143105.csv
prova_02_PL/Master_MainMenu_Log.csv
prova_02_PL/session_log.txt
prova_02_PL/Testing_151258.539.png
prova_02_PL/Testing_Data_151258.csv
prova_01_PL/Testing_141436.558.png
